@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* body {
  transition: background-color 0.1s ease-in-out;
} */

body {
  transition: none !important; /* Remove smooth transition */
}



/* body{
  background-color: rgb(7, 30, 63);
  color: aliceblue;
} */



